	<h2 class="title is-2">Help</h2>
<div>
	You need help? With this dumb, free thing?! Fine, here:
</div>

<!-- <ul>

<li>
	If ur fancy, use <a href="https://cwiki.apache.org/confluence/display/solr/The+Standard+Query+Parser">Lucene query syntax</a> (this thing runs at least in part on <a href="http://lucene.apache.org/solr/">Apache Solr</a>). If ur a tl;dr type, just know you can do Googley stuff, like <span class="copy-trigger" data-toggle="tooltip" data-string='dimello +wompler'><span class="loc-string">"dimello +wompler"</span></span> or <span class="copy-trigger" data-toggle="tooltip" data-string='ducca -list'><span class="loc-string">"ducca -list"</span></span> or whatev.
</li>

<li>Every query is run against the bits index first and <em>from that result set</em> we extract the locations (and also <em>from that result set</em> the facets are extracted). The implication is that if you wanted to search for, say, "Boston" to see if any references exist in or around that fine city, you'll only get results if the name or description of the bit has the word "Boston" in it. We didn't expect anybody would want to initiate spatial processing just to find out if we have bits mapped to Oklahoma or Chilé or wherever (you can just run an empty query and check the map, after all). If you do want spatial query, though, tell Disqus about it <span class="glyphicon glyphicon-arrow-right"></span></li>

<li>timestamps</li>

</ul> -->

<div style="padding-top:5%;" class="tile content is-ancestor is-size-7">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box">
        <h4 class="title is-4">Timestamps: <img class="" src="https://a-v2.sndcdn.com/assets/images/header/cloud@2x-e5fba46.png" style="height:20px;filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.9));"> <small>v.</small> <img class="" src="http://v.fastcdn.co/t/fbd61fb6/9f77a6cf/1506364214-1020996-166x62-HOWLLogoHorizontalTeal.png" style="height:20px;"></h4>
      <p>Each record has <em>tstart</em> and <em>tend</em> timestamps - ostensibly these frame the specific instance within the episode. However, when CBB audio files were moved behind the Howl paywall, it rendered many of the timestamps incorrect - as paywalled episodes pass the edit points where commercials used to be, they're offset by however long the excised commercials were.</p><p>Timestamps can still be used to get close to the instance when listening, but they are no longer accurate enough be used for, say, supercutting or something.</p>
        </article>

      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <h4 class="title is-4">The Map</h4>
          <p>There's a Leaflet instance under here that will display the geometries associated with any bits of type="location." Look for the <i class="fa fa-map-marker"></i> and click it to zoom the map to that location. More on that over here ----></p>
          <p>But a note or two about how to use said map: in an effort to reduce clutter, there are no map controls as you might find in other web maps. A zoom bar, +/-, maybe a panning control, too. None of that here - just grab the map to move it and trackpad|scroll to zoom in and out. Optionally you can shift-click+hold-drag-release in order to "select" an area of the map to which you'll immediately pan/scroll.</p>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <h4 class="title is-4">Searching</h4>
      <p>Basically you can just type into the box like a monkey might do it - "huell" or "fourvel" and so forth.</p>
      <p>But also know that whatever you type into the box gets POSTed as-is, and since Search hits against an <a href="https://www.elastic.co/products/elasticsearch">ElasticSearch</a> (v5.6) index, (as with most search engines) there is <a href="https://www.elastic.co/guide/en/elasticsearch/reference/5.6/query-dsl-query-string-query.html">some pretty advanced stuff</a> you can do if you like. To wit:</p>

<!-- ******************************************** -->

  <article class="">
    <h5 style="margin-top:2%; class="title is-5 is-paddingless"><strong>Fields:</strong></h5>
      <dl class="content"">
          <dt>find a specific bit using its full or partial value:</dt>
          <dd><a href="#" class="cbb-trigger" data-target="bit:location" data-type="">bit:location</a> or <a href="#" class="cbb-trigger" data-target="bit:topping" data-type="">bit:topping</a> <code>// for DSALW's Queen's english ("topping hat")</code></dd>

<dt>find bits by date (added/updated):</dt>
          <dd><a href="#" class="cbb-trigger" data-target="updated_at:[2017-01-01T00:00:00Z TO 2017-01-31T23:59:59Z]" data-type="">updated_at:[2017-01-01T00:00:00Z TO 2017-01-31T23:59:59Z]</a></dd>
<dd><small>Hint: updated_at is typically the same as created_at except when a record has been...updated. The implication is that you'll probably always want to use updated_at for any kind of date query.</small></dd>
      </dl>

  </article>


<!-- ******************************************** -->

  <article class="">
    <h5 style="margin-top:2%; class="title is-5 is-paddingless"><strong>Boolean stuff:</strong></h5>
      <div class="content"">
        <dl>
          <dt>combine terms with either word or character operators:</dt>
<dd><a href="#" class="cbb-trigger" data-type="" data-target="bit:location +dimello">bit:location +dimello</a></dd>
<dd><a href="#" class="cbb-trigger" data-type="" data-target="mexico -adomian">mexico -adomian</a></dd>
<dd><a href="#" class="cbb-trigger" data-type="" data-target='collins -bit:"Phil Collins"'>collins -bit:"Phil Collins"</a><code>//Phil Collins references beyond his Live Aid Concorde stunt</code></dd>
<dd><a href="#" class="cbb-trigger" data-type="" data-target="where AND from AND dabney">where AND from AND dabney</a></dd>
<dd><a href="#" class="cbb-trigger" data-type="" data-target="(wipe AND out) NOT hardcastle">(wipe AND out) NOT hardcastle</a></dd>
<dd><small>Hint: otherwise-unqualified terms typed into the box are ANDed together by default.</small></dd>
        </dl>
      </div>
  </article>

    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">

           <h4 class="title is-4">Locations</h4>
      <p>One of the bits is special (and in fact the original impetus of this entire effort). For bits="Location" the results will appear in the search results (indicated by a map pin icon) <em>and</em> on the map under what you're reading now (hidden behind the main content area by default).</p><p>Clicking the ctrl key will toggle the map's visibility (as will the <i class="fa fa-map-o"></i> button); clicking the <i data-id="poly:247" style="font-size:1.3em;" class="fa fa-map-marker"></i> in the search results will zoom to that instance's referenced location. <a href="#" class='cbb-trigger' data-type="" data-target='bit:Location +tags:"huell howser"'>Huell Howser</a>, <a href="#" class='cbb-trigger' data-type="" data-target='bit:Location +tags:"gino lambardo"'>Gino Lambardo</a>, <a href="#" class='cbb-trigger' data-type="" data-target='bit:Location +tags:"merrill shindler"'>Merrill Shindler</a>, and <a href="#" class='cbb-trigger' data-type="" data-target='bit:Location +tags:"shelly driftwood"'>Shelly Driftwood</a> are all good for at least a few.</p>

      <p>Another thing to note about locations is that unless there's a clamor for it we do NOT spatially-index the geometries for retrieval. So while of course you can query for <em>bits</em> that reference locations (and those referenced geometries will appear on the map with minimal interaction), we're not bothering to offer the ability to, say, zoom/pan the map and query for locations <em>in that area</em>. Like, who cares?</p><p>If somebody really wants that (or the tangential ability to query for bits that reference, say, the Boston area or Marina del Rey, maybe say something. But tbt if you're <em>that interested</em> you could just query for everything (<a href="#" class="cbb-trigger" data-type="" data-target="bit:location">"all Location bits"</a>) and zoom to the spot about which you're curious.</p>

    </article>
  </div>
</div>