<section class="section">
  <div class="container">
    <div class="columns">

<div class="column is-one-quarter"></div>

    <div class="column">

<div class="cbb-hero-instance">"I have a friend, 'Mike,' who wants to go to garbage island."</div>
<div class="cbb-hero-credit">-- <a href="#" class="cbb-trigger" data-type="bit" data-target="We Knew a Poet Once">We Knew a Poet Once</a>, ep.<a href="#" class="cbb-trigger" data-type="episode" data-target="228">228</a></div>
<div class="cbb-hero-credit">-- -- <a href="http://www.earwolf.com/show/comedy-bang-bang">Comedy Bang Bang</a></div>

    </div>
    <!-- hero stuff -->

<div class="column is-one-quarter"></div>
    </div>
  </section>
    <section class="section">
      <div class="container">
    <hr>
<div class="columns">
  <div class="column" style="text-align:center;">
    <h4 style="" class="cbb-title-sub title is-5">Recently:</h4>
  </div>
</div>
      <!-- recent row 1 -->
    <div class="columns">
      <div class="column">

      </div>
      <div class="column">
         <figure class="media bd-structure-item" title="media-left">
          <p class="image is-256x256">
            <img class="earwolf-img" src="images/IMG_7658.jpg">
          </p>
        </figure>
         <div>12 from ep.<a href="#" class="cbb-trigger" data-target="333" data-type="episode">333</a></div>
      </div>
      <div class="column">
         <figure class="media bd-structure-item" title="media-left">
          <p class="image is-256x256">
            <img class="earwolf-img" src="images/IMG_7295.jpg">
          </p>
        </figure>
         <div>13 from ep.<a href="#" class="cbb-trigger" data-target="332" data-type="episode">332</a></div>
      </div>
      <div class="column">
         <figure class="media bd-structure-item" title="media-left">
          <p class="image is-256x256">
            <img class="earwolf-img" src="images/IMG_7152.jpg">
          </p>
        </figure>
         <div>14 from ep.<a href="#" class="cbb-trigger" data-target="331" data-type="episode">331</a></div>
      </div>
      <div class="column">

      </div>
    </div><!-- ./recent row 1 -->
      <!-- recent row 2 -->
    <div class="columns">
      <div class="column">

      </div>
      <div class="column">
         <figure class="media bd-structure-item" title="media-left">
          <p class="image is-256x256">
            <img class="earwolf-img" src="images/IMG_7658.jpg">
          </p>
        </figure>
         <div>12 from ep.<a href="#" class="cbb-trigger" data-target="333" data-type="episode">333</a></div>
      </div>
      <div class="column">
         <figure class="media bd-structure-item" title="media-left">
          <p class="image is-256x256">
            <img class="earwolf-img" src="images/IMG_7295.jpg">
          </p>
        </figure>
         <div>13 from ep.<a href="#" class="cbb-trigger" data-target="332" data-type="episode">332</a></div>
      </div>
      <div class="column">
         <figure class="media bd-structure-item" title="media-left">
          <p class="image is-256x256">
            <img class="earwolf-img" src="images/IMG_7152.jpg">
          </p>
        </figure>
         <div>14 from ep.<a href="#" class="cbb-trigger" data-target="331" data-type="episode">331</a></div>
      </div>
      <div class="column">

      </div>
    </div><!-- ./recent row 2 -->
  </div>
</div>
</section>
