<section class="section">
  <div class="container">
    <div class="columns">

<div class="column is-one-quarter"></div>

    <div class="column">

<div class="cbb-hero-instance">"I have a friend, 'Mike,' who wants to go to garbage island."</div>
<div class="cbb-hero-credit">-- We Knew a Poet Once</div>
<div class="cbb-hero-credit"><a href="http://www.earwolf.com/show/comedy-bang-bang">Comedy Bang Bang</a> ep. 228</div>

    </div>
    <!-- hero stuff -->

<div class="column is-one-quarter"></div>
    </div>
  </section>
    <section class="section">
      <div class="container">
    <hr>
<div class="columns">
  <div class="column" style="text-align:center;">
    <h4 class="title is-5">Recently:</h4>
  </div>
</div>
    <div class="columns">
      <div class="column">

      </div>
      <div class="column">
         <figure class="media bd-structure-item" title="media-left">
          <p class="image is-256x256">
            <img class="earwolf-img" src="images/IMG_7658.jpg">
          </p>
        </figure>
         <div>12 from ep.333</div>
      </div>
      <div class="column">
         <figure class="media bd-structure-item" title="media-left">
          <p class="image is-256x256">
            <img class="earwolf-img" src="images/IMG_7295.jpg">
          </p>
        </figure>
         <div>13 from ep.332</div>
      </div>
      <div class="column">
         <figure class="media bd-structure-item" title="media-left">
          <p class="image is-256x256">
            <img class="earwolf-img" src="images/IMG_7152.jpg">
          </p>
        </figure>
         <div>14 from ep.331</div>
      </div>
      <div class="column">

      </div>
    </div>
  </div>
</div>
</section>
