<!-- <ul class="navigation">
<li data-slide="1" class="active"></li>
<li data-slide="2" class=""></li>
<li data-slide="3" class=""></li>
<li data-slide="4" class=""></li>
<li data-slide="5" class=""></li>
<li data-slide="6" class=""></li>
</ul> -->

<div class="slide"><div id="" class="slide1 gnpanel col-lg-12">
<div class="block" style="">
<h1 style="text-align:center;">What's this, now?!
<span class="icom-bang" style="font-size:2em;"></span>
</h1>
<div class="pull-left col-sm-12"><p style="padding-bottom:40px;">Come on, guys -- it's a searchable index of all the recurring bits from every <em><a href="http://www.earwolf.com/show/comedy-bang-bang/">Comedy Bang! Bang!</a></em> podcast episode ever recorded. Well over a thousand of them reference actual identifiably geographic locations - those appear on the map below.</div>



</div>
</div></div>


<div class="slide"><div id="" class="slide2 gnpanel-0 col-lg-12"><div class="block"><h1 style="text-align:center;"><span class="icom-bang" style="font-size:2em;"></span>
Why?
</h1>
<p>Because <em><a href="http://www.earwolf.com/show/comedy-bang-bang/">Comedy Bang! Bang!</a></em> is the best thing ever recorded. Or maybe the best thing to ever even happen at all.</p>
<p>&nbsp;</p>
<p>If you really are confused, read more about it in the <a href="#fullstory">Full Story tab</a>.
<!-- or geek dafuk out in the <a href="#minutiae">Minutiae tab</a> -->
</p></div></div></div>


<div class="slide"><div id="" class="gnpanel col-lg-12 slide3">
<div class="block"><h1 style="text-align:center;">Is this official?
<span class="icom-bang" style="font-size:2em;"></span></h1>
<p style="text-align:center;">It isn't. Fansite.</p>
</div>
</div></div>