<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hero title
      </h1>
      <h2 class="subtitle">
    <h2 class="subtitle">pullquote instance here</h2>
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <hr>

{{!-- <article class="media">
        <figure class="media bd-structure-item" title="media-left">
          <p class="image is-256x256">
            <img src="http://bulma.io/images/placeholders/256x256.png">
          </p>
        </figure>
                <figure class="media bd-structure-item" title="media-center">
          <p class="image is-256x256">
            <img src="http://bulma.io/images/placeholders/256x256.png">
          </p>
        </figure>
                <figure class="media bd-structure-item" title="media-right">
          <p class="image is-256x256">
            <img src="http://bulma.io/images/placeholders/256x256.png">
          </p>
        </figure>
      </article> --}}

    <div class="columns">
      <div class="column">
        
      </div>
      <div class="column">
         <figure class="media bd-structure-item" title="media-left">
          <p class="image is-256x256">
            <img src="http://bulma.io/images/placeholders/256x256.png">
          </p>
        </figure>
      </div>
      <div class="column">
         <figure class="media bd-structure-item" title="media-left">
          <p class="image is-256x256">
            <img src="http://bulma.io/images/placeholders/256x256.png">
          </p>
        </figure>
      </div>
      <div class="column">
         <figure class="media bd-structure-item" title="media-left">
          <p class="image is-256x256">
            <img src="http://bulma.io/images/placeholders/256x256.png">
          </p>
        </figure>
      </div>
      <div class="column">
        
      </div>
    </div>
  </div>
</section>
