  <div class="container">
    <div class="columns">

      <div class="column">
	<h1 class="title" style="text-align:center;">What's this, now?!
	</h1>
    <p style="padding-bottom:40px;">Come on, guys -- it's a searchable index of all the recurring bits from every <em><a href="http://www.earwolf.com/show/comedy-bang-bang/">Comedy Bang! Bang!</a></em> podcast episode ever recorded.
    </p>
</div><!-- .column -->

      <div class="column" style="text-align:center;font-size:3em;">

{{!--         <span class="bang-inline">
  <span class="icom-bang" style=""></span>
  </span> --}}
</div><!-- .column -->
  <div class="column">

  <h1 class="title" style="text-align:center;">
  Why?
  </h1>
  <p>Because <em><a href="http://www.earwolf.com/show/comedy-bang-bang/">CBB</a></em> is the best thing ever recorded. Or maybe the best thing to ever even happen at all.</p>

</div><!-- .column -->

      <div class="column" style="text-align:center;font-size:3em;">

{{!--         <span class="bang-inline">
  <span class="icom-bang" style=""></span>
  </span> --}}
</div><!-- .column -->

<div class="column">
<h1 class="title" style="text-align:center;">Is this official?

</h1>
<p style="text-align:center;">It isn't. Fansite.</p>
</div><!-- .column -->

</div><!-- .columns -->

</div><!-- .container -->
