  <div class="container">
    <div class="columns">

      <div class="column">
	<h1 class="title" style="text-align:center;">What's this, now?!
	<span class="bang-inline" style="font-size:1.2em;">
<span class="icom-bang" style=""></span>
  </span>
	</h1>
    <p style="padding-bottom:40px;">Come on, guys -- it's a searchable index of all the recurring bits from the <em><a href="http://www.earwolf.com/show/comedy-bang-bang/">Comedy Bang! Bang!</a></em> podcast.
    </p>
</div><!-- .column -->

      <div class="column"></div>
  <div class="column">

  <h1 class="title" style="text-align:center;">
    <span class="bang-inline" style="">
  <span class="icom-bang" style=""></span>
    </span>
  Why?
  </h1>
  <p>Because <em><a href="http://www.earwolf.com/show/comedy-bang-bang/">CBB</a></em> is the best thing ever recorded. Or maybe the best thing to ever even happen at all.</p>

</div><!-- .column -->

      <div class="column"></div>
<div class="column">
<h1 class="title" style="text-align:center;">Official thing?
  <span class="bang-inline" style="">
  <span class="icom-bang" style=""></span>
  </span>
</h1>
<p style="text-align:center;">Isn't. Fansite.</p>
</div><!-- .column -->

</div><!-- .columns -->

</div><!-- .container -->
