{{#each baselayers}}
<li class="mnuThumbnail {{this.active}}" data-toggle="tooltip" id="{{this.nom}}" title="{{this.nom}}">
      <img src="{{this.thumb}}" alt="" width="55px" height="55px" />
    </li>
    {{/each}}