<div class=" pu-copy pu-copy-marker col-sm-12">
    {{#if name}}
    <h5>{{name}}</h5>
    {{else}}
    <h5>(no name string)</h5>
    {{/if}}
    {{#if anno}}<p class="text-muted">{{anno}}</p>{{/if}}
</div> <!-- marker -->
