{{#each rows}}
<li class="bit">
<span class="bit-instance">{{instance}}</span>
<div class="columns">
	<div style="" class='column bit-data'>({{bit}} | ep.{{episode}} | ~{{tstart}})</div>
</div>
</li>
{{/each}}
