<div class="slide"><div class="block slide1"><h1>What's Really Going On?
    <span class="icom-bang" style="font-size:1.5em;"></span></h1>
    <!-- <div class="gnpanel-r gnpanel-b pull-left col-lg-7"><div class="block"><h1>What's Really Going On?</h1> -->
    <p>This is primarily a map of every spatial reference from every <a href="http://www.earwolf.com/show/comedy-bang-bang/"><em>Comedy Bang! Bang!</em></a> episode ever recorded. Such as:
        <ul style="padding-left:10%;">
            <li>the probable location of the <span class="copy-trigger" data-toggle="tooltip" data-string="location_id:17 AND location_type:point"><span class="loc-string">Nordstrom that sold Danny Mahoney his heavy suicide coat</span><i class="glyphicon glyphicon-map-marker cbb-trigger-inline"></i></span></li>
            <li>the very-difficult-to-actually-map location of <span class="copy-trigger" data-toggle="tooltip" data-string="location_id:410 AND location_type:point"><span class="loc-string">The Calvins Bee Honey Horse Fight Fields</span><i class="glyphicon glyphicon-map-marker cbb-trigger-inline"></i></span></li>
            <li>JW Stillwater's route <span class="copy-trigger" data-toggle="tooltip" data-string="location_id:53 AND location_type:line"><span class="loc-string">from Cumberbatch County to L.A. via the Panama Canal</span><i class="glyphicon glyphicon-map-marker cbb-trigger-inline"></i></span></li>
            <li>basically <span class="copy-trigger" data-toggle="tooltip" data-string="huell"><span class="loc-string">anything Huell Howser has ever said</span><i class="glyphicon glyphicon-map-marker cbb-trigger-inline"></i></span></li>
        </ul>
    </p>
    <p>...that sort of thing.</p>
    <p>But, ok -- technically, <span class="copy-trigger" data-toggle="tooltip" data-string='*:*'><span class="loc-string">all of the bits we've logged so far</span></span> are indexed here (not just the mappable ones), so you <em>could</em> consider this a master database of every individual trope and recurring CBB bit (e.g. <span class="copy-trigger" data-toggle="tooltip" data-string='bit:"Open Door Policy"'><span class="loc-string"><em>the CBB Open Door Policy</em></span></span>, <span class="copy-trigger" data-toggle="tooltip" data-string='bit:"Titular"'><span class="loc-string"><em>titular</em></span></span>, <span class="copy-trigger" data-toggle="tooltip" data-string='bit:"Cake Boss!"'><span class="loc-string"><em>"Cake Boss!"</em></span></span>, etc.). But this thing, as-is, focuses on the places and locations more than the entire universe of bits. See below for more about a potential larger scope.</p>
    
    <!--So while this thing technically does deliver
    , its primary purpose is to render . Such as:</p>
    <p>
        And for real the reason to do it is that the universe of CBB's characters - when canon - is so rich and sprawling that I wanted it all in one place, where I could wade into it from multiple angles, aspects, and facets. e.g. I wanted be able to visualize...
        So for now it's just a map of places that comprise the world of the CBB canon (and perhaps its diaspora).
    </p>-->
    <!-- <p><sup>*</sup> – Meaning that if Don DiMello shows up on <em><a href="http://www.earwolf.com/show/spontaneanation-with-paul-f-tompkins/">Spontaneation</a></em> or <em><a href="http://www.gosuperego.com">Superego</a></em> and says something mappable, it can show up here. I haven't been through any of those combing for locations yet, however.</p> -->
</div>
</div> <!-- ./gnpanel -->
<!-- <div class="gnpanel pull-left col-lg-5"><div class="block"><h1>A Note on Location Scope</h1> -->
<div class="slide"><div class="block slide2"><h1>A Note on Location Scope<span class="icom-bang" style="font-size:1.5em;"></span></h1>
    <p>Included here are ~all locations that were <em>generated</em> during the show. Meaning only locations that were somehow parts of a bit or part of something intentionally funny <em>and</em> part of a contribution to the show are included. Meaning that if Todd Barry plugs his gig at the Chuckle Hut or we hear that Jimmy Pardo ran into Nick Kroll at a grilled cheese sandwich place irl, it doesn't need to be here. 

        But <span class="copy-trigger" data-toggle="tooltip" data-string="location_id:46 AND location_type:point"><span class="loc-string">Huell Howser's birth bed</span><i class="glyphicon glyphicon-map-marker"></i></span>? Yes. 

        And <span class="copy-trigger" data-toggle="tooltip" data-string="location_id:404 AND location_type:point"><span class="loc-string">that place that almost housed a Victor Diamond show</span><i class="glyphicon glyphicon-map-marker"></i></span>? Yes. 

        And <span class="copy-trigger" data-toggle="tooltip" data-string="location_id:13 AND location_type:point"><span class="loc-string">The Grove</span><i class="glyphicon glyphicon-map-marker cbb-trigger-inline"></i></span> 

        and <span class="copy-trigger" data-toggle="tooltip" data-string="location_id:133 AND location_type:poly"><span class="loc-string">the ArcLight</span><i class="glyphicon glyphicon-map-marker"></i></span> 

        (including <span class="copy-trigger" data-toggle="tooltip" data-string="location_id:32 AND location_type:line"><span class="loc-string">Cactus Tony's bus route <em>to</em> it</span><i class="glyphicon glyphicon-map-marker"></i></span>) 

        and <span class="copy-trigger" data-toggle="tooltip" data-string="location_id:96 AND location_type:point"><span class="loc-string">the Pantages</span><i class="glyphicon glyphicon-map-marker cbb-trigger-inline"></i></span> 

        and <span class="copy-trigger" data-toggle="tooltip" data-string="location_id:79 AND location_type:poly"><span class="loc-string">Bob Ducca's Castaic</span><i class="glyphicon glyphicon-map-marker cbb-trigger-inline"></i></span> 

        and <span class="copy-trigger" data-toggle="tooltip" data-string="location_id:7 AND location_type:point"><span class="loc-string">Six Flags Magic Mountain</span><i class="glyphicon glyphicon-map-marker cbb-trigger-inline"></i></span> are all here.</p>
    </div></div>
    <!-- <div class="gnpanel-0 pull-left col-lg-8"> -->
    <div class="slide">
        <div class="block slide3"><h1>BitTracker?!<span class="icom-bang" style="font-size:1.5em;"></span></h1>
                <p>
                    But you wanna talk more about this? Well, the ultimate idea is (eh, maybe was) to build a bittracker, for lack of a better name. <strong>Yeah, a <em>BitTracker</em></strong>. A tracker of bits. How many times (and when) <span class="copy-trigger" data-toggle="tooltip" data-string='bit:"My Wife!"'><span class="loc-string"><em>My Wife!</em></span></span>; how many times (and when) a <span class="copy-trigger" data-toggle="tooltip" data-string='bit:Classic WYR Blunder*'><span class="loc-string"><em>classic WYR blunder</em></span></span>. That sort of thing. But in a way that doesn't just list them out (or map them, when possible) but instead wraps some other methods of access around them -- a supercutter, for example (e.g. "click - supercut all the <span class="copy-trigger" data-toggle="tooltip" data-string='bit:Please Call Me \"Garry\"*'><span class="loc-string"><em>please call me Garrys</em></span></span> together" or "click - supercut all of <span class="copy-trigger" data-toggle="tooltip" data-string='bit:Ducca List'><span class="loc-string"><em>Bob Ducca's lists</em></span></span> together"). Or the original dream - something built on the SoundCloud copies of the episodes that lets everybody add/edit/annotate all this bullshit. So think something like the <a href="http://comedybangbang.wikia.com">CBB wikia</a>, but with a finer granularity and a more data-focused approach.</p></div></div>
    <!-- <div class="block"><h1>Is <em>Everything</em> Geocoded?</h1>
    <p>But no, not everything is in here. Yet. Once I realized I wanted to do this, I started re-listening from episode 1, logging locations instead of bits (which I'll pick back up later). I'm only through #143, so there will be plenty more added here in due time. I <em>may</em> add the ability for users to submit/edit locations, but that requires the addition of a whole other layer of app logic. The crowd-sourcing model will better suit the BitTracker anyway.</p></div> -->
    <!-- <div class="gnpanel gnpanel-l gnpanel-t pull-left col-lg-4"><div class="block"><h1>What's Next?</h1> -->
    <div class="slide"><div class="block slide4"><h1>What's Next?
        <span class="icom-bang" style="font-size:1.5em;"></span></h1>
        <p>
            <ul>
                <li>As episodes are released, locations and bits will be added.</li>
                <li>As old episodes are revisited, missed locations and bits will be added.</li>
                <li>The web app might get an inline audio player (with or without annotation/edit capabilities).</li>
                <li>Some poor slob needs to build the full BitTracker still (and fold this into it).</li>
                <li>The crowd-sourcer component needs to be carefully designed, certainly based on the experience of just this mapping app -- e.g. it might behoove us to move the backend to a wiki platform and harvest all data <em>from</em> there (rather than continue to store bit- and location-level data in MongoDB and CartoDB instances, respectively, and handle the crowdsourcing pieces from custom-built code. The very useful <a href="http://comedybangbang.wikia.com">CBB wikia instance</a> could become a mutual asset, for instance.</li>
            </ul>
        </p>
    </div></div>
    <!-- <div class="block"><h1>Ideas? Complaints?</h1>
                <p>
                    At least until it gets abusive, feel free to submit ideas, corrections, diet pill ads, etc. in the <a href="#feedback">Feedback tab</a>.
                </p>
    </div> -->