<a target="blank" href="{{episode}}" title="we can't yet link to Howl episode timestamps - this will go to the episode page">
<img class="" src="images/ico.howl.png" height="30" width="20"> {{episode_title}} is at Howl.fm
</a>