    <!--
<div class="input-group">
      <input type="text" class="form-control" placeholder="e.g. 'huell' or 'mike +janitor' or '*' for everything" id="query-form-input" value="{{rawstring}}">
      <span class="input-group-btn">
        <button id="query-form-bt" class="btn btn-default" type="button" placeholder="search the source for new results">Search</button>
        <button id="query-form-heynongmantzoukas" class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh"></span></button>
        <button id="query-form-randomizer" class="btn btn-default" type="button"><span class="glyphicon glyphicon-random"></span></button>
      </span>
    </div>
       /input-group -->
       <div class="field has-addons level">
         <div class="control level-item">
           <input class="input is-large" type="text" placeholder="e.g. 'huell' or 'mike +janitor'">
         </div>
         <div class="control">
           <a id="cbb-bt-search" class="button is-info is-large">
             <i class="fa fa-search"></i>
           </a>
         </div>
         <div class="control">
    <a id="cbb-bt-random" class="button is-large">
      <span class="icon is-small">
        <i class="fa fa-random"></i>
      </span>
    </a>
  </div>
  <div class="control">
    <a id="cbb-bt-reset" class="button is-large">
      <span class="icon is-small">
        <i class="fa fa-refresh"></i>
      </span>
    </a>
  </div>
       </div>
<!-- .columns -->
