<div class="input-group">
      <input type="text" class="form-control" placeholder="e.g. 'huell' or 'mike +janitor' or '*' for everything" id="query-form-input" value="{{rawstring}}">
      <span class="input-group-btn">
        <button id="query-form-bt" class="btn btn-default" type="button" placeholder="search the source for new results">Search</button>
        <button id="query-form-heynongmantzoukas" class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh"></span></button>
        <button id="query-form-randomizer" class="btn btn-default" type="button"><span class="glyphicon glyphicon-random"></span></button>
      </span>
    </div><!-- /input-group -->
