 <div class="querysubnavh col-sm-12 pull-left">
	<div data-id="bits" class="query-subnav-btn col-sm-4 pull-left active">
		<span class="col-sm-9 pull-right">Unmappable Bits</span>
		<div class="query-subnav-count query-subnav-count-bits col-sm-1 pull-right" style="text-align:center;"></div>
<!-- <span class="query-subnav-arro col-sm-4 pull-right" style="left:8px;"><i class="glyphicon glyphicon-chevron-right"></i></span> -->
	</div>


	<div data-id="locations" class="query-subnav-btn col-sm-8 pull-right active"><span class="col-sm-3 pull-left">Locations </span><div class="query-subnav-count query-subnav-count-locations pull-left col-sm-9"></div>
<!-- <span style="right:30px;" class="query-subnav-arro col-sm-1 pull-right active"><i class="glyphicon glyphicon-chevron-right"></i></span> -->
	</div>

	<div data-id="episodes" class="hidden query-subnav-btn"><span class="col-sm-4">Episodes</span>
	<span class="glyphicon glyphicon-remove bt-episodes-hide" title="hide the episodes list"></span>
	</div>

		<!-- <div data-id="facets" class="query-subnav-btn col-sm-2 col-sm-offset-2"><span class="col-sm-8">Facets: </span> -->
<!-- <span style="right:30px;" class="query-subnav-arro col-sm-1 pull-right active"><i class="glyphicon glyphicon-chevron-right"></i></span> -->
	<!-- </div> -->
	</div>