<div class="mobile-slide-nav row">
    <ul style=""><li class=" active" data-target="querylist-bits">
        <span class="col-sm-8">Unmappable Bits</span>
    <span class="col-sm-4 query-subnav-count query-subnav-count-bits" style="text-align:left;"></span>
    <!-- </div> -->
    </li>
    <li class="" data-target="querylist-locations">
        <span class="col-sm-8">Mappable Locations</span>
        <span class="col-sm-4 query-subnav-count query-subnav-count-locations col-sm-9" style="text-align:left;"></span>
        <!-- <div class="query-subnav-count query-subnav-count-locations col-sm-9"></div> -->
    <!-- </div> -->
    </li>
        
<li class="" data-target="episodes"><span class="col-sm-8" >Episodes</span></li>
<li class="" data-target="querylist-facets"><span class="col-sm-8">Facets</span></li>
</ul>
</div> <!-- mobile-slide-nav -->