{{#each slugs}}
<li class="{{this.active}}" data-id="{{this.slug}}"><a><span class="{{#equal this.slug 'search' }}badge is-badge-outlined is-badge-small{{/equal}}" data-badge="{{../this.qcount}}">{{this.name}}</span></a></li>
{{/each}}
